---
import Button from "../components/Button.astro";
import "../styles/global.css";
import MainLayout from "../mainLayout/MainLayout.astro";
---


<MainLayout headtitle="About">
<Button backgroundcolor="primary 1" text="BLOG"></Button>
</MainLayout>

<style>

</style>