---
import TopPageSection from "../components/TopPageSection.astro";
import OurVision from "../components/OurVision.astro";
import GrowingWithOurClients from "../components/GrowingWithOurClients.astro";
import OutHistory from "../components/OurHistory.astro";
import OurTeam from "../components/OurTeam.astro";
import BetterConsultBetterResults from "../components/BetterConsultBetterResults.astro";
import "../styles/global.css";
import MainLayout from "../mainLayout/MainLayout.astro";
---


<MainLayout headtitle="About">
    <div class="content">
        <TopPageSection imgPath="/src/assets/images/aboutpage.png" headlinecolor="primary 1" headlinetext="SERVICES" text="Creative Services For Boost Your Business Growth"/>
        <OurVision/>
        <GrowingWithOurClients/>
        <OutHistory/>
        <OurTeam/>
        <BetterConsultBetterResults/>
    </div>
</MainLayout>

<style>

</style>