---
import TopPageSection from "../components/TopPageSection.astro";
import FinancialProjections from "../components/FinancialProjections.astro";
import WhatToExpect from "../components/WhatToExpect.astro";
import StrategyForEveryStage from "../components/StrategyForEveryStage.astro";
import ContactUsItsEasy from "../components/ContactUsItsEasy.astro";
import FAQ from "../components/FAQ.astro";
import "../styles/global.css";
import MainLayout from "../mainLayout/MainLayout.astro";
---


<MainLayout headtitle="Service single">
<div class="content">
    <TopPageSection imgPath="/src/assets/images/servicesinglepage.png" headlinecolor="primary 1" headlinetext="SERVICES SINGLE" text="Services Details"/>
    <FinancialProjections/>
    <WhatToExpect/>
    <StrategyForEveryStage/>
    <ContactUsItsEasy/>
    <FAQ/>
</div>
</MainLayout>

<style>

</style>