---
const {backgroundcolor, text, icon} = Astro.props;
---

<button data-theme={backgroundcolor}>
 {text}
</button>

<style>
    
    button{
        inline-size: fit-content;
        border-radius: 1.5rem;
        padding-block: var(--space-xs);
        padding-inline: var(--space-m);
        letter-spacing: 0.145rem;
        font-weight: var(--font-semi-bold);
        font-size: var(--step-0); 
    }

    [data-theme="primary 1"]{
        background-color: var(--primary-color-1-default);
        color: var(--primary-color-3-default);
        
        &:hover{
        background-color: var(--primary-color-3-default);
        color: var(--gray-scale-05);}
    }

    [data-theme="primary 3"]{
        background-color: var(--primary-color-3-default);
        color: var(--gray-scale-05);

        &:hover{
        background-color: var(--gray-scale-05);
        color: var(--primary-color-3-default);
        border: 2px solid var(--primary-color-3-default);
        }
    }

</style>