---
import Headline from "./Headline.astro";

---

<article>
    <Headline backgroundcolor="gray scale 8" text="CONTACT"/>
    <h2>Ready To Talk?</h2>
    <p>Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Massa placerat duis ultricies lacus sed turpis. Pellentesque  pellentesque habitant morbi tristique.</p>
    <label for="mail">
        <input type="email" id="mail" name="mail" placeholder="Your mail address">
        <input type="submit" id="submitbtn" name="mail" value="Send Meassage">
    </label>

</article>

<style>

</style>