---
import Headline from "../components/Headline.astro";
import FAQDropDown from "../components/FAQDropDown.astro";
---


<section class="flow">
    <Headline backgroundcolor="primary 2" text="FAQ"/>
    <h2>Customer Questions</h2>
    <section class="faq">
        <FAQDropDown title="What will happen when I’ve sent my application?" text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements."/>
        <FAQDropDown title="Can I get a free trial before I purchase?" text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements."/>
        <FAQDropDown title="What should I include in my personal statement?" text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements."/>
        <FAQDropDown title="Will membership plans be charged automatically?" text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements."/>
        <FAQDropDown title="What will happen when I’ve sent my application?" text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements."/>
        <FAQDropDown title="Can I get a free trial before I purchase?" text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements."/>
    </section>
</section>

<style>
    .flow{
        width: minmax (0ch, 100ch);
        display: grid;
    }
</style>