---
const {title, text} = Astro.props;
---

<details>
    <summary><h5>{title}</h5></summary>
    <p>{text}</p>
</details>


<style>

details{
    border-bottom: 1px solid var(--gray-scale-1);
    padding-block: var(--space-s);
}

h5{
    max-width: 60ch;
}

summary{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    color: var(--primary-color-3-default)
}

summary::after{
    content: "+";
    font-size: var(--step-4);
}

details[open] > summary::after{
    content: "-";
    font-size: var(--step-5);
}

</style>