---
import FinancialProjectionsCard from "./FinancialProjectionsCard.astro";
---

<section class="full-width">
    <FinancialProjectionsCard icon="tabel" title="The Balance Sheet" text="The Balance Sheet is a summary of the assets and liabilities and equity of a business at a specific point of time." cardtheme="light"/>
    <FinancialProjectionsCard icon="creditcard" title="Income Statement" text="The Income (Profit and Loss) Statement, commonly referred to as the P&L statement, summarizes the revenue and expenses for a specific time period (one month, one quarter, one year, etc.)" cardtheme="dark"/>
    <FinancialProjectionsCard icon="bank" title="Financial Plan" text="Keep your information current and review the documents on a regular basis (monthly or more often if needed). Review them with key individuals within your company." cardtheme="light"/>
    <FinancialProjectionsCard icon="dollorsign" title="Financial Ratios" text="Ratios are useful when comparing your company with the competition on financial performance and also when benchmarking the performance of your company." cardtheme="light"/>
</section>

<style>

section{
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    padding-inline: max(1rem, 50% - var(--content-size) / 2);
    gap: var(--space-l);
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scrollbar-width: thin;
    
    > * {
      flex: 1 0 50%;
    }
}

</style>


