---
import {Icon} from "astro-icon/components";
import FinancialProjectionsCardsSection from "../components/FinancialProjectionsCardsSection.astro";
---

<section>
    <article class="grid">
        <div >
            <Icon name="presentation"/>
            <h2>Financial Projections</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="flex">
            <Icon name="arrowbuttonleft"/>
            <Icon name="arrowbuttonright"/>
        </div>
    </article>
    <article>
        <FinancialProjectionsCardsSection/>
    </article>
</section>


<style>

    [data-icon="arrowbuttonleft"], [data-icon="arrowbuttonright"]{
        height: 2.5rem;
        width: 2.5rem;
    }
    
    [data-icon="presentation"]{
        height: 4rem;
        width: 4rem;
    }

    p{
       max-width: 70ch; 
    }

    .grid{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .flex{
        display: flex;
        gap: 1rem;
    }

</style>