---

---

<div class="content">
    <a href="/">About</a>
    <a href="/servicesingle">service</a>
    <a href="/team">team</a>
    <a href="/casestudysingle">casestudy</a>
</div>


<style>

    div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        flex-wrap: wrap;
        a{color: white;}
    }

</style>