---
const {backgroundcolor, text} = Astro.props;
---

<div data-theme={backgroundcolor}>
 <p >{text}</p>
</div>

<style>
    
    div{
        inline-size: fit-content;
        border-radius: 1.25rem;
        padding-inline: 0.75rem;
        letter-spacing: 0.145rem;
    }

    [data-theme="primary 1"]{
        background-color: var(--primary-color-1-default);
        color: var(--primary-color-3-default);
    }

    [data-theme="primary 2"]{
        background-color: var(--primary-color-2-default);
        color: var(--gray-scale-05);
    }

    [data-theme="primary 3"]{
        background-color: var(--primary-color-3-default);
        color: var(--gray-scale-05);
    }

    [data-theme="gray scale 8"]{
        background-color: var(--gray-scale-8);
        color: var(--gray-scale-05);
    }

</style>