---
import {Icon} from "astro-icon/components";
---

<div>
    <Icon name="instagram"/>
    <Icon name="facebook"/>
    <Icon name="twitter"/>
</div>


<style>

div{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: var(--space-s);
}
[data-icon="instagram"], [data-icon="facebook"], [data-icon="twitter"]{
    width: 1rem;
    height: 1rem;
}

</style>