---
import {Icon} from "astro-icon/components";
const {text, icon} = Astro.props;
---

<div>
    <Icon name={icon}/>
    <p>{text}</p>
</div>


<style>

    [data-icon="checkmark"] {
    width: 2rem;
    height: 2rem;
    }
    div{
        display: flex;
        gap: 1rem;
    }

</style>