---
import Button from "./Button.astro";
---

<article>
    <h2>More case studies</h2>
    <div>
        <!-- image block -->
    </div>
    <Button backgroundcolor="primary 3" text="Browse all case studies"/>
</article>