---

---


<article>
    <div>
        <h3>Subscribe Our Newsletter</h3>
        <p>Build stronger Customer Relationships with Consultalk</p>
    </div>
    <label>
        <input type="email" name="email" placeholder="Your mail address">
        <input type="submit" name="submitbtn" value="Subscribe">
    </label>
</article>

<style>

article{
    display: flex;
}

label{
    display: flex;
}

</style>