---
import Headline from "../components/Headline.astro";
import ListItemWithIcon from "../components/ListItemWithIcon.astro";
import CounterBar from "../components/CounterBar.astro";
---


<section>
    <article class="flow">
        <Headline backgroundcolor="primary 2" text="OUR VISION"></Headline>
        <h2>Turn your ideas into reality</h2>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
        <ListItemWithIcon icon="checkmark" text="Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day."/>    
        <ListItemWithIcon icon="checkmark" text="Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital."/>  
    </article>
    <article>

    </article>
    <article class="span">
        <CounterBar/>
    </article>
</section>


<style>

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
}

.span{
    grid-column: span 2;
}


</style>