---
import Headline from "../components/Headline.astro";
---

<section class="flow">
    <Headline backgroundcolor="primary 2" text="OUR HISTORY"/>
    <h2>Strategy for Every Stage in the Client's Journey</h2>
</section>

<style>

section{
    display: grid;
    justify-items: center;
}

h2{
    text-align: center;
}

</style>