---
import TeamBarCard from "./TeamBarCard.astro";
---

<section>
    <TeamBarCard headlinecolor="primary 1" headlinetext="CEO at Company" title="Sarah Jasmine" text="Leverage agile frameworks to provide a robust synopsis for high level overviews."/>
    <TeamBarCard headlinecolor="primary 3" headlinetext="Manager" title="John Carter" text="Leverage agile frameworks to provide a robust synopsis for high level overviews."/>
    <TeamBarCard headlinecolor="primary 3" headlinetext="CEO at Company" title="Daisy Stella" text="Leverage agile frameworks to provide a robust synopsis for high level overviews."/>
    <TeamBarCard headlinecolor="primary 3" headlinetext="CEO at Company" title="Maya Elizabeth" text="Leverage agile frameworks to provide a robust synopsis for high level overviews."/>
    <TeamBarCard headlinecolor="primary 3" headlinetext="CEO at Company" title="Ryan Jackson" text="Leverage agile frameworks to provide a robust synopsis for high level overviews."/>
    <TeamBarCard headlinecolor="primary 3" headlinetext="CEO at Company" title="Lilly Victoria" text="Leverage agile frameworks to provide a robust synopsis for high level overviews."/>
</section>


<style>

</style>