---
import "../styles/global.css";
import HeaderSection from "../components/HeaderSection.astro";
import FooterSection from "../components/FooterSection.astro";
const {headtitle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{headtitle}</title>
	</head>
	<body>
		<header class="full-width content">
            <HeaderSection/>
        </header>
        <main><slot/></main>
        <footer class="full-width content">
            <FooterSection/>
        </footer>
	</body>
</html>

<style>

    header, footer{
        background-color: var(--primary-color-3-default);
    }

</style>